<style> 
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f2f2f2;
      margin: 20px;
    }

    .h1 {
      color: #333;
    }

    .des, .release_date {
      margin-bottom: 10px;
    }

    strong {
      color: #333;
    }

    .Rev {
      color: #0066cc;
    }

    .com {
      background-color: #fff;
      border: 1px solid #ccc;
      word-wrap: break-word;
      white-space: pre-wrap;
      word-break: break-word;
      overflow: hidden;
      padding: 10px;
      margin: 5px 0;
      height: 50px;
      width: 500px;
    }

    .rating {
      color: #ff9900;
    }

    .btn-danger{
      background-color: #cc0000;
      color: #fff;
      text-decoration: none;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }
    .btn-reviews {
      background-color: #cc0000;
      color: #fff;
      text-decoration: none;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }
    .btn-edit{
       background-color: #cc0000;
      color: #fff;
      text-decoration: none;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 60px;
    }
    .btn-back{
       background-color: #cc0000;
      color: #fff;
      text-decoration: none;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }

    .f1, .f2, .f3, .ra {
      margin-bottom: 10px;
    }
    .1 {
      margin-bottom: 10px;
    }
  </style>

<h1 class="h1"><%= @movie.title %></h1>

<p class="des"><strong>Description:</strong> <%= @movie.description %></p>
<p class="release_date"><strong>release_date:</strong> <%= @movie.release_date %></p>
  <div>
    <% @star_cast.each do |star_cast| %>
      <%= link_to star_cast.actor_name, "https://stackoverflow.com/questions/34107072/nameerror-undefined-local-variable-or-method"%><br>
      <%= star_cast.actresses_name%><br>
      <%= link_to star_cast.link%><br>
    <% end %>
  </div>

<h1 class="Rev">Reviews</h1>
  <% @movie.reviews.each do |review|%>
      <p class="com"><%=review.comment%></p>
      <p class="rating"><%=review.rating%></p>
  <% if signed_in? && (current_user.id == review.user_id) %>
     <%= button_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<% if current_user.movies.pluck(:title).include?(@movie.title) %>
  <button type="button" class="btn btn-outline-danger "><%= link_to 'Back to Movies', movies_path %></</button>
<% else %>
  <%= form_with model: [ @movie, @movie.reviews.build ], class: 'f1' do |f| %>
    <%= f.label :comment, class: 'f2' %><br>
    <%= f.text_field :comment, class: 'f3' %><br>
    <%= f.label :rating, class: 'ra' %><br>
    <%= f.number_field :rating, in: 1..5, required: true, style: "margin-bottom: 10px;" %><br>
    <%=f.submit "Create Reviews", class:'btn-reviews'%>
  <% end %>
  <% if signed_in? && (current_user.id == @movie.user_id) %>
    <%= link_to 'Edit Movie', edit_movie_path(@movie), class:'btn-edit' %>
  <% end %>

  <button type="button" class="btn btn-outline-danger "><%= link_to 'Back to Movies', movies_path %></</button>
<% end %>



 



